/vendor
/app/storage
/public_html/backend/dispatches
/public_html/backend/invoices
/public_html/backend/narudzbenice
/public_html/backend/offers
/public_html/backend/orders
/public_html/backend/product/
/public_html/backend/workingorders
.phpintel